*{
  margin: 0;
  padding: 0;
}

header{
  text-align: center;
  margin-bottom: 2rem;
  padding: 3rem;
}

header img{
  margin-bottom: 1rem;
}

header h1{
  font-size: 1rem;
  margin-bottom: 1rem;
}

header p{
  font-size: 1rem;
}

.cards{
  margin: 0 5rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 3rem;
}

.card{
  text-align: center;
  background: red;
  border-radius: 0.3rem;
  box-shadow: 0 2px 5px #0000005f;
  border-bottom: 0.7rem solid black;
  padding: 1.5rem;
  text-align: start;
  font-family: sans-serif;
}

.card h5{
  font-size: 1.2rem;
  margin: 0;
}

.card .count{
  font-size: 1.4rem;
  font-weight: 400;
  margin: 8px 0;
}

.card .date{
  margin: 8px 0;
}

.card .country{
  margin-top: 1rem;
}

.card span{
  color: gray;
}

form{
  text-align: center;
}

form select{
  border: 0;
  border-bottom: 1px solid grey;
  font-size: 1.2rem;
  margin-top: 1rem;
}